.card {
  margin-top: 50px;
  background-color: var(--main-bg-dark);
  padding: 2rem;
}

.card__home {
  padding: 2rem 0;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  /* padding: 1rem; */
  margin-bottom: 2.5rem;
}

.card__header h2 {
  font-weight: 500;
}

.clean__card {
  margin-top: 20px;
}

.clean__body {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.clean__body-header {
  padding: 2rem;
}
.clean__body .form-control {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--txt-color-dark);
  border-radius: 5px;
}
