.card {
  margin-top: 50px;
  background-color: var(--main-bg-dark);
  padding: 2rem;
}

.card__home {
  padding: 2rem 0;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  /* padding: 1rem; */
  margin-bottom: 2.5rem;
}

.card__header h2 {
  font-weight: 500;
}

.clean__card {
  margin-top: 20px;
}

.clean__body {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.clean__body-header {
  padding: 2rem;
}
.clean__body .form-control {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--txt-color-dark);
  border-radius: 5px;
}

.body{
margin: 0 auto;
}
.task__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  
}

.task__card {
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  background: rgba(255, 255, 255, 0.05);
  width: 250px;
  min-height: 80vh;
  max-height: 80vh;
  padding: 1rem;
  border-radius: .5rem;
  overflow: scroll;
}

.task__card h2{
  font-size: 1.4rem;
}

.task__card-title{
  margin-bottom: 1rem;
}
.card__item{
  border-radius: .5rem;
  box-shadow: 0 2px 16px rgba(255, 255, 255, 0.03);
  padding: 1rem;
  /* background-color: ; */
  border: 1px solid rgba(255, 255, 255, 0.03);
  margin-bottom: 1rem;
}

.card__item-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__item-header span{
  width: 50px;
  height: 15px;
  background-color: royalblue;
  border-radius: .5rem;
}

.card__item-header button{
  background: none;
  color: var(--main-color);
  font-size: 1.56rem;
}

.card__item h3{
font-size: 1.3rem;
}

.card__item p{
  font-size: 1.1rem;
}

.card__item-footer{
  font-size: 1.2rem;
  margin-top: 1rem;
}


.card__item-footer i{
  margin-right: .5rem;
}

.card__item-footer .users {

  margin-top: 1rem;
  display: flex;
}

.picture{
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 5rem;
}


.card__item-footer .users .picture img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.labels-task{
  display: flex;
  align-items: center;
}

.labels-task label{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.card__item-header .Moderate{
  background-color: orangered;
}

.card__item-header .Delayed{
  background-color: royalblue;
}

.card__item-header .Express{
  background-color: red;
}